// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3) &ht LALT k1  &ht LCTRL k2  &ht LSHFT k3
#define HRMR(k1,k2,k3) &ht RSHFT k1  &ht LCTRL k2  &ht RALT k3

// Makro creation
#define MACRO(name, keys)                 \
name: name##_macro {                      \
    label          = #name;               \
    compatible     = "zmk,behavior-macro";\
    tap-ms         = <1>;                 \
    wait-ms        = <1>;                 \
    #binding-cells = <0>;                 \
    bindings       = <keys>;              \
};

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        td_sem_dqt: tap_dance_sem_dqt {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SEM_DQT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMI>, <&kp DQT>;
        };
        td_c_ret: tap_dance_c_ret {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_C_RET";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&kp RET>;
        };
        td_v_bspc: tap_dance_v_bspc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_V_BSPC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp V>, <&kp BSPC>;
        };
        td_com_tab: tap_dance_com_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COM_TAB";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp TAB>;
        };
        td_brc: tap_dance_brc {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_BRC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };
        td_cbr: tap_dance_cbr {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CBR";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };
        td_rbr: tap_dance_rbr {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_RBR";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };
        td_com_dot: tap_dance_com_dot {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_COM_DOT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp DOT>;
        };
    };

    macros {
            MACRO(mak_l1, &to 0 &kp LC(LG(F1)))
            MACRO(mak_l2, &to 1 &kp LC(LG(F2)))
            MACRO(mak_l3, &to 2 &kp LC(LG(F3)))
            MACRO(mak_l4, &to 3 &kp LC(LG(F5)))
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        green_layer {
            bindings = <
        //╭──────────┬──────────┬─────────────┬──────────────┬──────────╮       ╭──────────┬──────────┬─────────────────┬──────────┬────────────────╮
        //│  Q       │  W       │    E        │   R          │  T       │       │  Y       │  U       │         I       │  O       │        P       │
            &kp Q      &kp W        &kp E        &kp R         &kp T              &kp Y      &kp U      &kp I             &kp O      &kp P
        //├──────────┼──────────┼─────────────┼──────────────┼──────────┤       ├──────────┼──────────┼─────────────────┼──────────┼────────────────┤
        //│  A       │  S       │    D        │   F          │  G       │       │  H       │  J       │         K       │  L       │       ' "      │
            &kp A      HRML(S,          D,        F)           &kp G              &kp H      HRMR(J,          K,           L)        &td_sem_dqt
        //├──────────┼──────────┼─────────────┼──────────────┼──────────┤       ├──────────┼──────────┼─────────────────┼──────────┼────────────────┤
        //│  Z       │  X       │    C        │   V          │  B       │       │  N       │  M       │        , <      │ . >      │       / ?      │
            &kp Z      &kp X      &td_c_ret     &td_v_bspc     &kp B              &kp N      &kp M      &td_com_tab       &kp COMMA  &kp FSLH
        //╰──────────┴──────────┴─────────────┼──────────────┼──────────┤       ├──────────┼──────────┼─────────────────┴──────────┴────────────────╯
                                                   &mak_l3     &kp SPACE          &mak_l2   &kp ESCAPE
        //                                        ╰──────────┴──────────╯       ╰──────────┴──────────╯
            >;
        };

        red_layer {
            bindings = <
        //╭──────────┬───────────┬─────────────┬───────────────┬───────────╮         ╭───────────┬─────────────┬──────────┬──────────┬────────────╮
        //│ DELETE   │    @      │     #       │      $        │     %     │         │     -     │      7      │     8    │     9    │ BACKSPACE  │
            &kp DEL    &kp AT      &kp HASH      &kp DOLLAR      &kp PRCNT             &kp MINUS   &kp N7        &kp N8     &kp N9     &kp BSPC
        //├──────────┼───────────┼─────────────┼───────────────┼───────────┤         ├───────────┼─────────────┼──────────┼──────────┼────────────┤
        //│    []    │    {}     │    ()       │   SHIFT TAB   │   CTRL    │         │     0     │      4      │     5    │     6    │  RETURN    │
            &td_brc    &td_cbr     &td_rbr       &ht LSHFT TAB   &kp LCTRL             &kp N0      &kp N4        &kp N5     &kp N6     &kp RETURN
        //├──────────┼───────────┼─────────────┼───────────────┼───────────┤         ├───────────┼─────────────┼──────────┼──────────┼────────────┤
        //│     \    │     ~     │    ,.       │               │     "     │         │     =     │      1      │     2    │     3    │            │
            &kp BSLH   &kp TILDE   &td_com_dot   &none           &kp DQT               &kp EQUAL   &kp N1        &kp N2     &kp N3     &mak_l4
        //╰──────────┴───────────┴─────────────┼───────────────┼───────────┤         ├───────────┼─────────────┼──────────┴──────────┴────────────╯
                                                  &mak_l3        &kp SPACE             &mak_l1      &kp ESCAPE
        //                                     ╰───────────────┴───────────╯         ╰───────────┴─────────────╯
            >;
        };

        blue_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  {       │  }       │          │   │  ^       │  (       │  )       │  ]       │  ~       │
            &trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  !       │  @       │  #       │  $       │  %       │   │  *       │  -       │  =       │  \       │  `       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  &       │  _       │  +       │  │       │          │
            &trans     &trans     &trans     &trans     &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &mak_l2
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &mak_l3     &trans         &mak_l1     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        yellow_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &kp A     &kp B
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
